
html, body {
    margin: 0%;
    
} 

header {
    background-color: black;
    width: 100%;
    height: 25%;
    margin: 0%;
    top: 0;
    position: Fixed;
}

h1 {
    background-color: grey;
    width: 10%;
    height: 800pt;
    margin: 0%;
    color: grey;
    float: left;
}

h2 {
    background-color: grey;
    width: 10%;
    height: 800pt;
    margin: 0%;
    color: gray;
    float: right;
}

footer {
    background-color: rgb(41, 43, 44);
    height: 15%;
    margin: 0%;
    color:rgb(41, 43, 44);
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: -10;
}    

